/.vs/

OrderFoodTeam.sln

OrederFoodTeam/Areas/
OrederFoodTeam/bin/
OrederFoodTeam/Areas/
OrederFoodTeam/obj/
OrederFoodTeam/Properties/
OrederFoodTeam/wwwroot/
AppDbContext.cs
appsettings.Development.json
libman.json
OrderFoodTeam.csproj
OrderFoodTeam.csproj.user
Program.cs
Startup.cs
ScaffoldingReadme.txt