@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model OrderFoodTeam.Models.Reservation
@{
    ViewData["Title"] = "Submit";
}
<h2>Submit</h2>
@if (User.IsInRole("admin"))
{
     <a asp-action="Watch" class="btn btn-primary">Watch</a>

      
    
}



