@model OrderFoodTeam.Models.Order

@{
    ViewData["Title"] = "Create";
}

<div class="white_container register_container nav_top_menu" id="create">
    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <div class="registerMylass">
                    <h2>Checkout</h2>
                </div>
                <hr />
                <div class="row item_delete">
                    <div class="">
                        <form asp-action="Checkout" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Town" class="control-label"></label>
                                <input asp-for="Town" class="form-control" />
                                <span asp-validation-for="Town" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Street" class="control-label"></label>
                                <input asp-for="Street" class="form-control" />
                                <span asp-validation-for="Street" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="HomeNumber" class="control-label"></label>
                                <input asp-for="HomeNumber" class="form-control" />
                                <span asp-validation-for="HomeNumber" class="text-danger"></span>
                            </div>
                            <input class="btn btn-primary" type="submit" value="Confirm Pay" />
                        </form>
                       
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>