
@{
    ViewData["Title"] = "Location";
}

    <div style="background-image: url(/img/img_square_2.img)">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h2 class="primary-heading">Location</h2>
        </div>

        <div class=" col-md-8 col-md-offset-2 text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10618.47811929107!2d25.936065!3d48.2909351!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x709d2da702d04301!2z0J_QsNC90YHRjNC60LAg0LPRg9GA0LDQu9GM0L3Rjw!5e0!3m2!1suk!2sua!4v1576057911630!5m2!1suk!2sua"
                    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="">

            </iframe>
        </div>
    </div>
