.menus li .text .price {
    
    top: 2px;
    font-size: 23px;
    color: white;
    background-color: darkorange;
    padding: 5px 23px;
    font-weight: 200;
}
.add_palitra {
    display: block;
    width: 130px;
    height: 130px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 99999;
}
.itemMenu h6 {
    color: #cf7d02;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 2px;
}
.btn.btn-primary {
    border: 1px solid #FFA33E;
    background: white;
    color: black;

}
    .btn.btn-primary:hover {
        color: white;
        background-color: #FFA33E;
    }
  
.itemMenu .description
{
    color:black;
}
.add_palitra img 
{
    width:50%;
}
.is-active {
    color: white !important;
    background-color: #FFA33E !important;
    border-color: #FFA33E !important;
}
.block_Product .col-md-4
{
    margin-bottom:30px;
}
.block_Product .price {
    margin-bottom: 32px;
}
.nav_top_menu {
    padding-top: 60px;
    margin-top: -60px;
}
.nav_top_product {
    padding-top: 280px;
    margin-top: -280px;
}
.item_delete
{
    margin:0 auto;
    width: 50%;
    display:block;
}
.item_delete label
{
    color:black;

}
.block_Product {
        display: flex;
        flex-wrap: wrap;
}
.itemMenu {
   // height:100%;  
    
    
}
.but_for_reserv {
    margin-bottom: 40px;
}
.btn_create_product a {
    padding: 5px 100px;
}
.btn_create_product {
    text-align:center;
    margin-top:20px;
}
.but_edit_delete
{
    text-align:center;
   
}
h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0px;
}
.location
{
    margin:40px 0;
}
.white_container
{
    background:white;
    padding-bottom:50px;
}
.registerMylass h4 {
    font-weight: 100;
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: #FFA33E;
    text-align: center;
}
.group_list p {
    margin-bottom:5px;
     
}
.item_delete
{
    margin: 0 auto;
    display:block;


}
.item_delete dt{
    font-weight:200;
    color:black;

}