@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<div class="white_container register_container nav_top_menu" id="logout">
   <div class="container">
      <div class="row">
          <div class="col-md-12">


              <div class="registerMylass">
                        
                        
                            <h2>You have successfully logged out of the application.</h2>
                       
              </div>
          </div>
      </div>
   </div>
</div>
