@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OrderFoodTeam</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Pinyon+Script" rel="stylesheet">
    <link href="~/css/styles-merged.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/front.css" rel="stylesheet" />


</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" title="ProBootstrap:FineOak">FineOak</a>
            </div>

            <div id="navbar-collapse" class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Main</a></li>
                    <li> <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Menu" asp-fragment="menu"> Menu</a>

                    <li> <a class="nav-link text-dark" asp-area="" asp-controller="Reservation" asp-action="Index" asp-fragment="reservation">Reservation</a></li>
                    <li> <a class="nav-link text-dark" asp-area="" asp-controller="ShopCart" asp-action="Index" asp-fragment="basket">Basket</a></li>
                    <li> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Location" asp-fragment="location">Location</a></li>
                    @if (User.IsInRole("admin"))
                    {
                        <li> <a class="nav-link text-dark" asp-area="" asp-controller="Reservation" asp-action="Watch">View All Reserv</a></li>

                    }
                    else if ((SignInManager.IsSignedIn(User)) && (!User.IsInRole("admin")))
                    {
                        <li> <a class="nav-link text-dark" asp-area="" asp-controller="Reservation" asp-action="MyRes">My Reservations</a></li>
                    }
                    
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>

    <section class="flexslider">
        <ul class="slides">
            <li style="background-image: url(/img/hero_bg_1.jpg)" class="overlay" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading">
                                <h1 class="primary-heading">Welcome</h1>
                                <h3 class="secondary-heading">The Resto</h3>
                                <p class="sub-heading">Resto - the best restaurant.<a href="https://probootstrap.com">Chernivtsi</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/img/hero_bg_2.jpg)" class="overlay" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading">
                                <h1 class="primary-heading">Dine</h1>
                                <h3 class="secondary-heading">With Us</h3>
                                <p class="sub-heading">A free bootstrap website template by <a href="https://probootstrap.com">ProBootstrap.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>

            </li>
            <li style="background-image: url(/img/hero_bg_3.jpg)" class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading">
                                <h1 class="primary-heading">Enjoy</h1>
                                <h3 class="secondary-heading">With Us</h3>
                                <p class="sub-heading">A free bootstrap website template by <a href="https://probootstrap.com">ProBootstrap.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <!---->
    <footer>
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="footer_text">
                        <p>Reservation Table in the <span style="color:#FFA33E;">best</span> restaurant</p>
                    </div>
                    <div class="col-md-4 left_block">
                        <p class="footer_address">Address:</p>
                        <address>Hebesnoi Sotni,34 Street</address>
                        <a href="mailto:youremailaddress">Email Me</a>
                    </div>
                    <div class="col-md-4">

                        <p style="text-transform:uppercase; color:black">Our Store</p>
                        <span class="seperator">* * *</span>

                        <p>Voluptatibus quaerat laboriosam fugit non Ut consequatur animi est molestiae enim a voluptate totam natus modi debitis dicta impedit voluptatum quod sapiente illo saepe explicabo quisquam perferendis labore et illum suscipit</p>
                        <p><a href="#">About Us</a></p>
                    </div>
                    <div class="col-md-4 list">
                        <ul class="list_footer">


                            <li><a>Instagram  </a><a href="https://www.instagram.com" target="_blank"><img src="/img/instagram.png" height="20" width="20" alt="Instagram" title="Instagram" /></a></li>
                            <li><a>Facebook </a><a href="https://www.facebook.com" target="_blank"><img src="/img/facebook.png" height="20" width="20" alt="Facebook" title="Facebook" /></a></li>
                            <li><a>Youtube </a><a href="https://www.youtube.com" target="_blank"><img src="/img/youtube.png" height="20" width="20" alt="Youtube" title="Youtube" /></a></li>
                            <li><a>E-mail </a><a href="https://www.youtube.com" target="_blank"><img src="/img/gmail.png" height="20" width="20" alt="Gmail" title="Gmail" /></a></li>
                        </ul>


                    </div>
                </div>
                <div class="footer_bot">Reservation Table.2019.&copy;</div>

            </div>
        </div>
    </footer>
    <!---->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/custom.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
